@import 'base/vars';
@import 'base/fonts';
@import 'base/reset';
@import 'base/libs';
@import 'base/media';

@import 'blocks/_title.scss';
@import 'blocks/_main.scss';
@import 'blocks/_btns.scss';

* {
	@extend %kumbh-regular;
}

body {
	height: 100%;
	@extend %main-background;
  background-color: red;

}

.container{
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 15px;
}

