%kumbh-regular {
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
}
%kumbh-bold {
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 700;
}
%main-background {
    background-color: #FAFAFA;
}
%main-text {
    color: #333950;
}
%subtext {
    color: #747B95;
}
%blue {
    background-color: #5175FF;
}
%blue-light {
    background-color: #829CFF;
}

