.cards {
    position: absolute;
    z-index: 5;
    left: 50%;
    bottom: 300px;
    transform: translateX(-50%);
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}


