.card {
    position: relative;
    width: 350px;
    height: 508px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.247159);
    border-radius: 13px;
    overflow: hidden;
    padding: 40px 0;
    margin-right: 30px;
    &:last-child {
        margin-right: 0px;
    } 
    &__pro {
        position: relative;
        background-color: #5175FF;
        color: #fff;
    }
}